<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
  tr:nth-child(8){
  background-color:rgb(255,0,0) ;
}
  tr:nth-child(5){
  background-color:rgb(
	255,140,0) ;
}

</style>
</head>
<body>

<h2>Tabel</h2>

<table>
  <tr>
    <th>Bygning/Adresse</th>
    <th>Lokale</th>
    <th>LokaleNummer
<th>DataType</th>
<th>Data</th>
  </tr>
  <tr>
    <td>Hovedbygningen Vestervej 2</td>
    <td>Auditoriet </td>
    <td>008B</td>
<td>Temperatur</td>
<td>23.9</td>
  </tr>
  <tr>
    <td>Hovedbygningen Vestervej 2</td>
    <td>Auditoriet </td>
    
<td>008B</td>
<td>Luftfugtighed</td>
<td>37%</td>

  </tr>
  <tr>
    <td>Hovedbygningen Vestervej 2</td>
    <td>Auditoriet </td>
    <td>008B</td>
<td>CO2</td>
<td>466 ppm</td>

  </tr>
  <tr>
    <td>Hovedbygningen Vestervej 2</td>
    <td>Auditoriet </td>
    <td>008B</td>
<td>
Luftkvalitet</td>
<td>3.07</td>



  </tr>
  <tr>
    <td>Hovedbygningen Vestervej 2</td>
    <td>Auditoriet </td>
    <td>008B</td>
<td>Lysniveau</td>
<td>346 lux</td>

  </tr>
  <tr>
    <td>Hovedbygningen Vestervej 2</td>
    <td>Auditoriet </td>
    <td>008B</td>
<td>
Lys farve</td>
<td>2986 K</td>


  </tr>
<tr>
    <td>Hovedbygningen Vestervej 2</td>
    <td>Auditoriet </td>
    <td>008B</td>
<td>Lydniveau</td>
<td>36 dB</td>


  </tr>
</table>

</body>
</html>